@import '../GlobalComponent/GlobalComponent.scss';
@import '../../scss/mixin';

#portfolio {
    @include media-breakpoint-lg() {
        padding: 0 10px;
    }
}

.portfolio {
    max-width: 1200px;

    .list {
        margin: 0 -5px;
    }

    .item {
        position: relative;
        padding:0 5px;
        margin: 25px 0;
        overflow: hidden;
        // height: 246px;
        &:hover {
          cursor: pointer;
        }
        
        &:before {
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            background-color: #000000;
            opacity: 0;
            top: 0;
            bottom: 0;
            right: 5px;
            left: 5px;
            transition: all .3s ease-in;
        }

        &:hover::before {
            opacity: .5;
        }

        &::after {
            content: attr(data-content);
            position: absolute;
            font-size: 3rem;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            opacity: 1;
            top: 60%;
            left: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all .3s ease;
            width: 100%;
            text-align: center;

            @include media-breakpoint-lg() {
                font-size: 2.6rem;
            }

            @include media-breakpoint-sm() {
                font-size: 2rem;
            }
        }

        &:hover::after {
            top: 50%;
            opacity: 1;
        }
    }

    img {
        object-fit: cover;
        width: 100%;
        display: inline-block;
        height: 100%;
    }  

    h1 {
        @include font-header;
        @include media-breakpoint-sm() {
            font-size: 6vw;
        }
    }


    .popup {
        height: 100%;
        width: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        position: fixed;
        top: 0;
        transition: opacity .3s ease;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .over-lay {
        position: fixed; 
        display: block; 
        width: 100%; 
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); 
        z-index: 2;
        cursor: pointer; 
    }

    .popup-content {
        position: relative;
        max-width: 1200px;
        width: 100%;
        background-color: #252525;
        padding: 50px 70px 50px 30px;
        border-radius: 10px;

        @include media-breakpoint-lg() {
            padding: 50px 20px 10px 20px;
            height: 70vh;
            overflow-y: auto;
            scrollbar-width: none;
         
        }
        

        .image-container {
            .image-wrapper {
                width: 100%;
            }

            .main-image {
                //width: 600px;
                width: 100%;
                height: 100%;
            }

            .swiper-list {
                // width: 600px;
                margin-left: 0;
                margin-right: 0;
                margin-top: 5px;
                // height: 110px;
                img {
                    height: 100%;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .description {
            padding-left: 15px;
            @include media-breakpoint-lg() {
                padding: 0;
                margin: 30px 0px 0px;
            }
            h1 {
                color: #fff; 
                text-align: left;
                font-size: 3rem;
                margin-bottom: 20px;
                
                @include media-breakpoint-md() {
                    font-size: 5vw;
                }
            }

            h3 {
                font-weight: 300;
                color: #fff;
                line-height: 3.6rem;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }

        }
    }

    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        font-size: 3rem;
        width: 50px;
        height: 50px;
        margin-right: 5px;
        background-color: transparent;
        color: #fff;

        .btn-icon {
            font-size: 4rem;
        }

        @include media-breakpoint-lg() {
           
        }

        @include media-breakpoint-md() {
            font-size: 2.4rem;
            width: 35px;
            height: 35px;
        }
    }

    .active {
        opacity: 1;
        visibility: visible;
    }

    .btn-view {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 35px;
        min-width: 100px;
        border: none;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 500;
        border: 5px;
        background-color: $primary-color;
        color: #fff;
    }
}
