@import '../GlobalComponent/GlobalComponent.scss';
@import '../../scss/mixin';

.skill {
    max-width: 1200px;
    position: relative;
    margin-bottom: 130px;
    .list {
        padding: 0;
        list-style: none;
    }

    h1 {
        @include font-header;
        @include media-breakpoint-sm() {
            font-size: 6vw;
        }
    }

    .item {
        display: flex;
        justify-content: center;
        // margin: 15px 0;
        padding: 20px;
        border-radius: 100%;

        @include media-breakpoint-sm() {
            padding: 13px;
        }

        img {
            width: 63px;

            @include media-breakpoint-md() {
                width: 47px;
            }

            @include media-breakpoint-md() {  
                width: 41px;
            }
        }
    }

    .item-background {
        height: 100px;
        width: 100px;
        background-color: rgb(245, 245, 245);
        //background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        @include media-breakpoint-md() {
            height: 90px;
            width: 90px;
        }

        @include media-breakpoint-sm() {
            height: 70px;
            width: 70px;
        }
    }
}

