@import "../GlobalComponent/GlobalComponent.scss";
@import "../../scss/mixin";

.skill {
    max-width: 1200px;
    position: relative;
    margin-bottom: 130px;
    .list {
        padding: 0;
        list-style: none;
    }

    h1 {
        @include font-header;
        @include media-breakpoint-sm() {
            font-size: 6vw;
        }
    }

    .item {
        display: flex;
        justify-content: center;
        padding: 22px 20px;
        border-radius: 100%;
        position: relative;

        @include media-breakpoint-sm() {
            padding: 13px;
        }

        img {
            width: 63px;

            @include media-breakpoint-md() {
                width: 47px;
            }

            @include media-breakpoint-md() {
                width: 41px;
            }
        }

        .tooltip {
            position: absolute;
            top: -17px;
            border: 1px solid #e4e4e4;
            padding: 2px 10px;
            border-radius: 4px;
            box-shadow: rgb(184, 184, 184) 0px 2px 8px 0px;
            transition: all linear 0.3s;
            opacity: 0;
            visibility: hidden;

            span {
                position: relative;
                font-size: 1.5rem;
            }

            &::before {
                position: absolute;
                content: "";
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                border: 5px solid transparent;
                border-top-color: rgb(25, 25, 25);
            }
        }

        &:hover {
            .tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .item-background {
        height: 100px;
        width: 100px;
        background-color: rgb(245, 245, 245);
        //background-color: rgb(245, 245, 245);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        @include media-breakpoint-md() {
            height: 90px;
            width: 90px;
        }

        @include media-breakpoint-sm() {
            height: 70px;
            width: 70px;
        }
    }
}
