@import '../GlobalComponent/GlobalComponent.scss';
@import '../../scss/mixin';

#about {
    @include media-breakpoint-lg() {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.about {
    max-width: 1200px;
    margin-bottom: 120px;

    h1 {
        @include font-header;
        @include media-breakpoint-sm() {
            font-size: 6vw;
        }
    }
    
    .about-image {
        object-fit:  cover;
        width: 200px;
        //width: 100%;
        border-radius: 10px;
        @include media-breakpoint-md() {
            width: 100%;
        }
    }
    
    .about-title {
        position: relative;
    }
    
    .about-content {
        font-size: 1.8rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 70px;
        @include media-breakpoint-lg() {
            padding-left: 10px;
            padding-right: 10px;
        }

        @include media-breakpoint-sm() {
            font-size: 3.4vw;
        
        }
    }
    
    .btn-download {
        border: none;
        height: 45px;
        padding: 0 35px;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 500;
        background-image: -webkit-linear-gradient(0deg ,#8490ff 0%,#62bdfc 100%);
        transition: background-color .2s;
        color: #fff;
       
        .icon {
            margin-left: 5px;
        }
    
        &:hover {
            background-color: #e6e6e6;
        }

        @include media-breakpoint-md() {
            height: 38px;
            padding: 0 10px;
            font-size: 3vw;
            margin-top: 10px;
        }

        @include media-breakpoint-sm() {
            height: 30px;
            padding: 0 5px;
        }
    }
    
}


