@import '../GlobalComponent/GlobalComponent.scss';
@import '../../scss/mixin';

$nav-height: 72px;

.header {
    position: fixed;
    z-index: 1000;
    height: $nav-height;
    background-color: #fff;

    .over-lay {
        position: fixed; 
        display: block; 
        width: 100%; 
        height: 100%; 
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); 
        z-index: 2;
        cursor: pointer; 
    }

    .touch {
        background-image: $liner-color;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        list-style: none;
    }

    .touch-main {
        position: absolute;
        right: 0;
        top: 50vh;
        right: 10px;
        margin-top: -5px;
        transform: translateY(-50%);
    }

    .touch-active {
        opacity: .3;
        transition: opacity 3s;
    }

    .touch + .touch {
        margin-top: 10px;
    }

    .touch-open {

    }

    .touch-container {
        position: absolute;
        right: 0;
        top: 50vh;
        right: 10px;
        transform: translateY(-50%);
    }

    .touch-icon {
        position: relative;
        color: #fff;
        font-size: 2.6rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    // background-color: red;
    .nav {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: $nav-height;
        @include media-breakpoint-xl() {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .menu-btn {
        margin-right: 25px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $nav-height;
        width: 60px;
        cursor: pointer;
        transition: all .5s ease-in-out; 
    }

    .menu-btn_burger {
        width: 40px;
        height: 5px;
        background-color: #000;
        border-radius: 5px;
        background-image: $liner-color;
        //box-shadow: 0 2px 5px rgba(255,101,45,.2);
        transition: all .5s ease-in-out;
        
        @include media-breakpoint-md() {
            width: 36px;
            height: 4px;
        }

        &::before, &::after{
            content: "";
            background-image: inherit;
            position: absolute;
            width: 40px;
            height: 5px;
            background-color: #000;
            border-radius: 5px;
            //box-shadow: 0 2px 5px rgba(255,101 45,.2);
            transition: all .5s ease-in-out;

            @include media-breakpoint-md() {
                width: 36px;
                height: 4px;
            }
        }

        &::before {
            transform: translateY(13px);
        }

        &::after {
            transform: translateY(-13px);
        }
    }

    .menu-open  {
        .menu-btn_burger {
            transform: translateX(-50px);
            background: transparent;
            box-shadow: none;
            &::before {
                background-image: $liner-color;
                transform: rotate(45deg) translate(35px, -35px);
            }
    
            &::after {
                background-image: $liner-color;
                transform: rotate(-45deg) translate(35px, 35px);
            }
        }
    }

    .logo {
        text-decoration: none;
        font-size: 3rem;
        font-weight: bold;
        background-image: $liner-color;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-md() {
            font-size: 2.7rem
        }

        @include media-breakpoint-sm() {
            font-size: 2.5rem
        }
    }
    
    .nav-list {
        font-weight: 500;
        display: flex;
        @include media-breakpoint-lg() {
            height: calc(100vh - 72px);
            width: 300px;
            background-image: $liner-color;
            transform: translateX(calc(-100% + -11px));
            transition: all .7s;
            display: flex;
            flex-direction: column;
        }
    }

    .nav-list_active {
        @include media-breakpoint-lg() {
            transform: translateX(calc(0% - 10px));
            transition: all .7s;
        }
    }

    
    .nav-item {
        list-style: none;
        margin: 0 25px;
        font-size: 1.6rem;
        display: inline-block;
        transition: all 1s;

        &:hover {
            cursor: pointer;
            text-decoration: none;
            background-image: $liner-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 1s;

            @include media-breakpoint-lg() {
                background-image: -webkit-linear-gradient(0deg, #fff 0%, #fff 100%);
            }
        }

        @include media-breakpoint-lg() {
            margin: 0;
            color: #fff;
            font-size: 2rem;
            padding: 10px 20px;
        }
    }

    .nav-icon {
        font-size: 2.2rem;
        margin-right: 20px;
    }
}

.active-shadows {
    // box-shadow: 0px 1px 10px black;
    transition: box-shadow .3s;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

