@mixin media-breakpoint-xxl() { 
    @media only screen and (max-width: 1399.98px) {
        @content;
    }
 }

 @mixin media-breakpoint-xl() { 
    @media only screen and (max-width: 1199.98px) {
        @content;
    }
}

@mixin media-breakpoint-lg() { 
    @media only screen and (max-width: 991.98px) {
        @content;
    }
 }


 @mixin media-breakpoint-md() { 
    @media only screen and (max-width: 767.98px) {
        @content;
    }
}


@mixin media-breakpoint-sm() { 
    @media only screen and (max-width: 576px) { 
        @content;
     }
}

@mixin font-header {
    text-align: center;
    font-weight: 700;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}
